<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="/styles/characterShow.css"
			type="text/css"
		/>
		<title>Character Show Page</title>
	</head>
	<body>
		<h1>Character show</h1>
		<main class="character-sheet">
			<header>
				<h2>
					Name: <%= character.name %> | Class: <%= character.class %>
					| Race: <%= character.race %> | Level: <%= character.level
					%> | Alignment: <%= character.alignment %>
					<span>
						<a href="/characters/<%= character._id %>/edit "
							>Edit</a
						>
					</span>
				</h2>
				<h3>
					AC: <%= character.armorClass %> | HP: <%= character.health
					%> | Hit Die: <%= character.hitDie %> | Proficiency <%=
					character.proficiencyBonus %> | Bonus: Speed: <%=
					character.speed %> | Initiative: <%= character.initiative %>
				</h3>
			</header>
			<div class="stats">
				<h3>
					Str: <%= character.strength %> | Dex: <%=
					character.dexterity %> | Con: <%= character.constitution %>
					| Int: <%= character.intelligence %> | Wis: <%=
					character.wisdom %> | Cha: <%= character.charisma %>
				</h3>
			</div>
			<div class="money">
				CP: <%= character.copper %> | SP: <%= character.silver %> | EP:
				<%= character.electrum %> | GP: <%= character.gold %> | PP: <%=
				character.platinum %> |
			</div>
			<div class="items">
				<h3>
					Items Weight(lb) <span><button>+</button></span>
				</h3>
			</div>
			<div class="abilities">
				<h3>Abilities:</h3>
				<p><%= character.abilities %></p>
			</div>
			<div class="proficiencies">
				<h3>Proficiencies:</h3>
				<p><%= character.proficiencies %></p>
			</div>
			<div class="traits">
				<h3>Traits:</h3>
				<p><%= character.traits %></p>
			</div>
			<div class="languages">
				<h3>Languages:</h3>
				<p><%= character.languages %></p>
			</div>
		</main>
	</body>
</html>
