<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="/styles/characterShow.css"
			type="text/css"
		/>

		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
			crossorigin="anonymous"
		/>

		<title>Character Show Page</title>
	</head>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
			<a class="navbar-brand" href="/">Character Buddy</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarText"
				aria-controls="navbarText"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/characters"
							>All Characters</a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/characters/new"
							>New Character</a
						>
					</li>
				</ul>
				<span class="navbar-text">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a href="/profile" class="nav-link">
								Profile
							</a>
						</li>
						<li class="nav-item">
							<form
								class="form-inline logout"
								action="/logout?_method=DELETE"
								method="POST"
							>
								<input
									class="form-control mr-sm-2"
									type="submit"
									value="Logout"
								/>
							</form>
						</li>
					</ul>
				</span>
			</div>
		</nav>
	</header>
	<body>
		<h1>Character show</h1>
		<div class="card character-sheet">
			<div class="card-header">
				<h2>
					Name: <%= character.name %> | Class: <%= character.class %>
					| Race: <%= character.race %> | Level: <%= character.level
					%> | Alignment: <%= character.alignment %>
					<section>
						<span>
							<% if (currentUser.id == character.user._id) { %>

							<a href="/characters/<%= character._id %>/edit ">
								Edit
							</a>

							<form
								action="/characters/<%= character._id%>?_method=DELETE"
								method="POST"
							>
								<input type="submit" value="Delete" />
							</form>
							<% } %>
						</span>
					</section>
				</h2>
				<h3>
					AC: <%= character.armorClass %> | HP: <%= character.health
					%> | Hit Die: <%= character.hitDie %> | Proficiency <%=
					character.proficiencyBonus %> | Bonus: Speed: <%=
					character.speed %> | Initiative: <%= character.initiative %>
				</h3>
			</div>
			<div class="card-body"></div>
			<div class="stats">
				<h3>
					Str: <%= character.strength %> | Dex: <%=
					character.dexterity %> | Con: <%= character.constitution %>
					| Int: <%= character.intelligence %> | Wis: <%=
					character.wisdom %> | Cha: <%= character.charisma %>
				</h3>
			</div>
			<div class="money">
				CP: <%= character.copper %> | SP: <%= character.silver %> | EP:
				<%= character.electrum %> | GP: <%= character.gold %> | PP: <%=
				character.platinum %> |
			</div>
			<div class="items">
				<h3>
					Items --------- Weight(lb)
					<span>
						<% if (currentUser.id == character.user._id) { %>
						<button>
							<a href="/characters/<%= character._id %>/new-item">
								+
							</a>
						</button>
						<% } %>
					</span>
				</h3>
				<% items.forEach(item => { %>
				<p>
					<%= item.name %> --- <%= item.weight %>(lbs)
					<span>
						<% if (currentUser.id == character.user._id) { %>
						<a
							href="/characters/<%= character._id %>/<%= item._id %>"
						>
							<button>Edit</button>
						</a>
						<% } %>
					</span>
				</p>
				<% }) %>
			</div>
			<div class="abilities">
				<h3>Abilities:</h3>
				<p><%= character.abilities %></p>
			</div>
			<div class="proficiencies">
				<h3>Proficiencies:</h3>
				<p><%= character.proficiencies %></p>
			</div>
			<div class="traits">
				<h3>Traits:</h3>
				<p><%= character.traits %></p>
			</div>
			<div class="languages">
				<h3>Languages:</h3>
				<p><%= character.languages %></p>
			</div>
		</div>
		<hr>
		<div class="card border-secondary m-auto" style="width: 80rem;">
			<div class="card-body mx-auto">
				<h2 class="card-title"><%= character.name %></h5>
				<h3 class="card-text">
					Class: <%= character.class %>
					| Race: <%= character.race %> | Level: <%= character.level
					%> | Alignment: <%= character.alignment %>
				</h3>
				<h3 class="card-text">
					AC: <%= character.armorClass %> | HP: <%= character.health
					%> | Hit Die: <%= character.hitDie %> | Proficiency <%=
					character.proficiencyBonus %> | Bonus: Speed: <%=
					character.speed %> | Initiative: <%= character.initiative %>
				</h3>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item">Vestibulum at eros</li>
			</ul>
			<div class="card-body">
				<a href="#" class="card-link">Card link</a>
				<a href="#" class="card-link">Another link</a>
			</div>
		</div>
	</body>
</html>
